* {
  border: none;
  border-radius: 0;
  font-family: JetBrainsMono Nerd Font;
  font-weight: bold;
  font-size: 17px;
  min-height: 0;
}

window#waybar {
  background: #15121b;
  color: #cdd6f4;
}

tooltip {
  background: #1e1e2e;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #11111b;
}

#workspaces button {
  padding: 5px;
  color: #ffffff;
  margin-right: 5px;
}

#workspaces button.active {
  color: #00b2ee;
}

#workspaces button.focused {
  color: #cdd6f4;
  background: #a6e3a1;
  border-radius: 10px;
}

#workspaces button.urgent {
  color: #11111b;
  background: #a6e3a1;
  border-radius: 10px;
}

#workspaces button:hover {
  background: #00b2ee;
  color: #cdd6f4;
  border-radius: 10px;
}

#custom-launcher {
  background: #15121b;
  padding-right: 7px;
  padding-left: 7px;
}
#custom-exit,
#custom-language,
#custom-updates,
/* #custom-caffeine, */
#clock,
#battery,
#pulseaudio,
#cpu,
#memory,
#network,
#workspaces,
#tray,
#backlight {
  background: #1e1e2e;
  padding: 0px 10px;
  margin: 3px 0px;
}

#tray {
  border-radius: 10px;
  margin-right: 4px;
  font-size: 19px;
}

#workspaces {
  background: #1e1e2e;
  border-radius: 10px;
  padding-right: 0px;
  padding-left: 5px;
  margin-left: 5px;
}

#custom-caffeine {
  color: #89dceb;
  border-radius: 10px 0px 0px 10px;
  padding-right: 12px;
}

#inhibitor {
  background: #1e1e2e;
  color: #f5e0dc;
  border-radius: 10px 0px 0px 10px;
  padding-right: 12px;
  padding-left: 5px;
}

#custom-language {
  color: #00b2ee;
}

#custom-updates {
  color: #87ceeb;
  margin-right: 5px;
  border-radius: 10px 10px 10px 10px;
}

#cpu {
  background: #1e1e2e;
  padding: 0px 10px;
  margin: 3px 0px;
  color: #ff6b6b;
}

#clock {
  color: #00b2ee;
  border-radius: 10px;
  margin-right: 5px;
}

#network {
  color: #FFB3B3;
  border-radius: 10px 0 0 10px;
}

#pulseaudio {
  color: #B3D1FF;
}

#memory {
  color: #ffd700;
}

#battery {
  color: #FFFFB3;
  border-radius: 0 10px 10px 0;
  margin-right: 5px;
}

#backlight {
  color: #B3FFC1;
}

#custom-spotify {
  background: #15121b;
  color: #E6D69A;
}

#custom-exit {
  border-radius: 10px 10px 10px 10px;
}
